body {
  display: flex;
  justify-content: center;
  color: #333;
}

@media (min-width: 1280px) {
  .App {
    width: 1280px;
  }
}

@media (max-width: 1280px) {
  .App {
    width: 90vw;
  }
}

/* MyHeader */
.MyHeader {
  padding: 30px;

  border-bottom: 1.5px solid darkcyan;

  display: flex;
  justify-content: space-between;
}

.MyHeader {
  padding-top: 30px;
  padding-bottom: 30px;

  display: flex;
  align-items: center;
  border-bottom: 1.5px solid darkcyan;
}

.MyHeader > div {
  display: flex;
}

.MyHeader .Board_Title {
  width: 50%;

  color: darkcyan;
  font-size: 22px;
  font-weight: bold;
  justify-content: center;
}

.MyHeader .leftchild {
  width: 25%;
  justify-content: start;
}

.MyHeader .rightchild {
  width: 25%;
  justify-content: flex-end;
}

/* Home */
.Home .posts_container {
}

.Home .post_list {
  padding: 0;
}

.Home .post_list .post_container {
  padding: 25px;
  list-style: none;

  border-bottom: 1px solid #dbdbdb;
}

.Home .post_list .post_container:hover {
  background-color: #fafafa;
}

.Home .post_list .post_container .post_info_top {
  display: flex;
}
.Home .post_list .post_container .post_info_top .post_id {
  padding: 2px 7px;
  border-radius: 5px;
  background-color: #ececec;
  font-size: 14px;
  color: #848484;
}
.Home .post_list .post_container .post_info_top .post_title {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
}

.Home .post_list .post_container .post_info_bottom {
  display: flex;
}

.Home .post_list .post_container .post_info_bottom p {
  margin: 0;
  margin-right: 10px;

  color: #848484;
  font-size: 14px;
  display: inline-block;
  line-height: 14px;
}

/* MyButton */
.MyButton {
  padding: 0;
  margin: 0;

  display: inline-block;
  cursor: pointer;
}

.MyButton_default {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;

  background-color: rgb(239, 244, 244);
  color: darkcyan;
}

.MyButton_default:hover {
  background-color: rgb(239, 244, 244);
  color: darkcyan;
}

.MyButton_header {
  width: 100%;
  background-color: #fff;
  border: none;
  color: #848484;
  font-size: 14px;

  /* line-height: 30px; */
}

/* Post */
.Post .post_wrapper {
  /* background-color: pink; */

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Post .post_info {
  border-bottom: 1px solid #ececec;
  padding: 30px 30px 15px 30px;
}

.Post .post_info .post_info_top .post_id {
  padding: 2px 7px;
  border-radius: 5px;
  background-color: #ececec;
  display: inline-block;

  font-size: 14px;
  color: #848484;
}

.Post .post_info .post_info_top .post_title {
  margin-left: 10px;
  color: #333;
  display: inline-block;

  font-size: 22px;
  font-weight: bold;
}

.Post .post_info .post_info_bottom p {
  margin: 0;
  margin-right: 10px;

  color: #848484;
  font-size: 14px;
  display: inline-block;
  line-height: 14px;
}

.Post .post_body {
  padding: 30px;
  border-bottom: 1px solid #ececec;
}
.Post .post_comment {
  padding: 30px;

  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  line-height: 14px;
}

/* PostEditor */
.PostEditor {
  padding: 25px;

  display: flex;
  flex-direction: column;
}
.PostEditor .text_editor {
  display: flex;
  flex-direction: column;

  margin-bottom: 25px;
}
.PostEditor .date_created {
  padding: 10px 0 10px 25px;
  color: #848484;
}
.PostEditor .text_editor .title_input {
  padding: 20px;
  margin-bottom: 20px;

  font-size: 32px;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  outline: none;

  color: #333;
}

.PostEditor .text_editor .title_input:focus {
  border: none;
  border-bottom: 2px solid darkcyan;
}

.PostEditor .text_editor .content_input {
  padding: 20px;
  height: 21em;
  border: none;
  resize: none;

  font-size: 16px;
  /* background-color: #f6f6f6; */
  border: none;
  /* border: 1px solid #ececec; */
  border-bottom: 1px solid #dbdbdb;
  /* border-radius: 10px; */
  color: #333;
}

.PostEditor .text_editor .content_input:focus {
  background-color: #fff;
}
